In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [3]:
url = '/Users/javi/Desktop/Ironhack/Entregas de github/Ironhack-Project-2/Raw data/df_final_experiment_clients.txt'
df = pd.read_csv(url)

In [4]:
df.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [5]:
df.shape

(70609, 2)

In [6]:
df.isna().sum()

client_id        0
Variation    20109
dtype: int64

In [7]:
df['Variation'].value_counts()

Variation
Test       26968
Control    23532
Name: count, dtype: int64

In [8]:
# Find duplicate client_id values
duplicate_client_ids = df.duplicated(subset=['client_id'], keep=False)

# Select rows with duplicate client_id values
duplicate_rows = df[duplicate_client_ids]

# Display rows with duplicate client_id values
duplicate_rows[['client_id']]

Empty DataFrame
Columns: [client_id]
Index: []

In [9]:
#I'm droppping the nan values since they comprise almost 30% of the sample skewing heavily the result. 
# Find rows with NaN or null values in specified columns
null_rows = df[df[['Variation']].isnull().all(axis=1)]

# Drop rows where all specified columns are NaN or null
df.drop(null_rows.index, inplace=True)

# Reset index
df.reset_index(drop=True, inplace=True)

In [10]:
# Save the corrected DataFrame to a CSV file
df.to_csv('/Users/javi/Desktop/Ironhack/Entregas de github/Ironhack-Project-2/Raw data/df_final_experiment_clients_cleaned.csv', index=False)

In [14]:
df['client_id'].nunique()

50500