In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [15]:
url1 = '/Users/javi/Desktop/Ironhack/Entregas de github/Ironhack-Project-2/Raw data/df_final_web_data_pt_1.txt'
url2 = '/Users/javi/Desktop/Ironhack/Entregas de github/Ironhack-Project-2/Raw data/df_final_web_data_pt_2.txt'

df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)

In [16]:
df1.client_id.unique()
print(len(df1.client_id.unique()))

58391

In [17]:
df1.shape
df1.nunique()

client_id        58391
visitor_id       62936
visit_id         75256
process_step         5
date_time       282666
dtype: int64

In [18]:
df2.shape
df2.nunique()

client_id        67430
visitor_id       71042
visit_id         82841
process_step         5
date_time       346697
dtype: int64

TOTAL BETWEEN PT 1 AND PT2 IS 755.405

In [19]:
print("DF1", df1.process_step.value_counts())

print("DF1 unique client_id =", df1.client_id.nunique())

print("DF2", df2.process_step.value_counts())

print("DF2 unique client_id =", df2.client_id.nunique())

DF1 process_step
start      108910
step_1      73432
step_2      61768
step_3      53628
confirm     45403
Name: count, dtype: int64
DF1 unique client_id = 58391
DF2 process_step
start      135035
step_1      89761
step_2      71294
step_3      58614
confirm     57560
Name: count, dtype: int64
DF2 unique client_id = 67430

In [20]:
df2.date_time.max()

'2017-06-20 23:59:57'

In [21]:
df2.isna().sum()
df2['client_id'].nunique()

67430

In [22]:
# Assuming you have pandas imported as pd and your dataframes are df1 and df2
common_client_ids = len(set(df1['client_id']).intersection(set(df2['client_id'])))

print("Number of common client_ids:", common_client_ids)

Number of common client_ids: 5664

In [23]:
# Concatenate the two DataFrames along the rows (axis=0)
combined_df = pd.concat([df1, df2], ignore_index=True)

# The ignore_index=True parameter resets the index of the resulting DataFrame

# Check the combined DataFrame
combined_df

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [24]:
df_sorted = combined_df.sort_values(by='date_time')

In [25]:
# List of client IDs to be removed
client_ids_to_remove = [7402828, 355337, 8412164, 4666211, 2222915, 4876926, 5277910, 7616759, 8191345, 1227228, 8611797, 5144725, 1037867, 1618749, 6021001]

# Remove rows where client_id matches any ID from client_ids_to_remove
df_sorted = df_sorted[~df_sorted['client_id'].isin(client_ids_to_remove)]

In [26]:
# Save the corrected DataFrame to a CSV file
df_sorted.to_csv('/Users/javi/Desktop/Ironhack/Entregas de github/Ironhack-Project-2/Raw data/df_final_web_concat.csv', index=False)