In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [32]:
url = '/Users/javi/Desktop/Ironhack/Entregas de github/Ironhack-Project-2/Raw data/df_final_demo.txt'
df = pd.read_csv(url)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_tenure_yr    70595 non-null  float64
 2   clnt_tenure_mnth  70595 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70595 non-null  object
 5   num_accts         70595 non-null  float64
 6   bal               70595 non-null  float64
 7   calls_6_mnth      70595 non-null  float64
 8   logons_6_mnth     70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB

In [6]:
df.isna().sum()

client_id            0
clnt_tenure_yr      14
clnt_tenure_mnth    14
clnt_age            15
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
dtype: int64

In [36]:
rows_with_nulls = df[df.isnull().any(axis=1)]

# Display rows with null values
print(rows_with_nulls['client_id'])

4164     7402828
8316      355337
8677     8412164
9583     4666211
13444    2222915
18066    4876926
25961    5277910
28432    7616759
35323    8191345
43518    1227228
46076    8611797
47189    5144725
49846    1037867
63701    1618749
66219    6021001
Name: client_id, dtype: int64

In [8]:
#I'm droppping the 14 rows of client_id that have no values whatsoever.
# Find rows with NaN or null values in specified columns
null_rows = df[df[['clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr', 'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth']].isnull().all(axis=1)]

# Drop rows where all specified columns are NaN or null
df.drop(null_rows.index, inplace=True)

# Reset index
df.reset_index(drop=True, inplace=True)

In [9]:
# Drop duplicate rows based on specified columns
df.drop_duplicates(inplace=True)

# Reset the index after dropping duplicates
df.reset_index(drop=True, inplace=True)

In [10]:
# Find duplicate client_id values
duplicate_client_ids = df.duplicated(subset=['client_id'], keep=False)

# Select rows with duplicate client_id values
duplicate_rows = df[duplicate_client_ids]

# Display rows with duplicate client_id values
duplicate_rows[['client_id']]

Empty DataFrame
Columns: [client_id]
Index: []

In [11]:
#Fill the age of the client with no age with the mean of the age 
# Calculate the mean age
mean_age = df['clnt_age'].mean()

# Fill missing values in 'clnt_age' with the mean age
df['clnt_age'].fillna(mean_age, inplace=True)

/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_42113/270730456.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['clnt_age'].fillna(mean_age, inplace=True)

In [12]:
df.shape

(70595, 9)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70595 entries, 0 to 70594
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70595 non-null  int64
 1   clnt_tenure_yr    70595 non-null  float64
 2   clnt_tenure_mnth  70595 non-null  float64
 3   clnt_age          70595 non-null  float64
 4   gendr             70595 non-null  object
 5   num_accts         70595 non-null  float64
 6   bal               70595 non-null  float64
 7   calls_6_mnth      70595 non-null  float64
 8   logons_6_mnth     70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB

In [14]:
df.rename(columns={'clnt_tenure_yr': 'years_as_client', 
                   'clnt_tenure_mnth': 'months_as_client',
                   'clnt_age': 'age',
                   'gendr': 'gender',
                   'num_accts': 'number_of_accounts',
                   'bal': 'total_balance',
                   'calls_6_mnth': 'calls_in_the_last_6_months',
                   'logons_6_mnth': 'frequency_of_logons_6_months'}, inplace=True)

# Display the DataFrame to verify the changes
df.head()

,client_id,years_as_client,months_as_client,age,gender,number_of_accounts,total_balance,calls_in_the_last_6_months,frequency_of_logons_6_months
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [15]:
df['gender'].replace('X', 'U', inplace=True)

/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_42113/2151287737.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['gender'].replace('X', 'U', inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70595 entries, 0 to 70594
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   client_id                     70595 non-null  int64
 1   years_as_client               70595 non-null  float64
 2   months_as_client              70595 non-null  float64
 3   age                           70595 non-null  float64
 4   gender                        70595 non-null  object
 5   number_of_accounts            70595 non-null  float64
 6   total_balance                 70595 non-null  float64
 7   calls_in_the_last_6_months    70595 non-null  float64
 8   frequency_of_logons_6_months  70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB

In [17]:
# Save the corrected DataFrame to a CSV file
df.to_csv('/Users/javi/Desktop/Ironhack/Entregas de github/Ironhack-Project-2/Raw data/df_final_demo_cleaned.csv', index=False,encoding='latin-1')

In [18]:
url = '/Users/javi/Desktop/Ironhack/Entregas de github/Ironhack-Project-2/Raw data/df_final_demo_cleaned.csv'
df_final = pd.read_csv(url)

In [19]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70595 entries, 0 to 70594
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   client_id                     70595 non-null  int64
 1   years_as_client               70595 non-null  float64
 2   months_as_client              70595 non-null  float64
 3   age                           70595 non-null  float64
 4   gender                        70595 non-null  object
 5   number_of_accounts            70595 non-null  float64
 6   total_balance                 70595 non-null  float64
 7   calls_in_the_last_6_months    70595 non-null  float64
 8   frequency_of_logons_6_months  70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB

In [37]:
df_final.isna().sum()

client_id                       0
years_as_client                 0
months_as_client                0
age                             0
gender                          0
number_of_accounts              0
total_balance                   0
calls_in_the_last_6_months      0
frequency_of_logons_6_months    0
dtype: int64