In [17]:
import pandas as pd
from scipy.stats import ttest_ind

In [2]:


url1 = ('/Users/javi/Desktop/Ironhack/Entregas de github/Ironhack-Project-2/Raw data/df_final_demo_cleaned.csv')
url2 = ('/Users/javi/Desktop/Ironhack/Entregas de github/Ironhack-Project-2/Raw data/df_merged_sorted.csv')

df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)

In [3]:
df1.shape

(70595, 9)

In [4]:
df1.head()

,client_id,years_as_client,months_as_client,age,gender,number_of_accounts,total_balance,calls_in_the_last_6_months,frequency_of_logons_6_months
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70595 entries, 0 to 70594
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   client_id                     70595 non-null  int64
 1   years_as_client               70595 non-null  float64
 2   months_as_client              70595 non-null  float64
 3   age                           70595 non-null  float64
 4   gender                        70595 non-null  object
 5   number_of_accounts            70595 non-null  float64
 6   total_balance                 70595 non-null  float64
 7   calls_in_the_last_6_months    70595 non-null  float64
 8   frequency_of_logons_6_months  70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB

In [6]:
df2.shape

(321309, 7)

In [7]:
merged_df = pd.merge(df1, df2, on='client_id', how='outer')

In [8]:
merged_df.shape

(341416, 15)

In [9]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341416 entries, 0 to 341415
Data columns (total 15 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   client_id                     341416 non-null  int64
 1   years_as_client               341314 non-null  float64
 2   months_as_client              341314 non-null  float64
 3   age                           341314 non-null  float64
 4   gender                        341314 non-null  object
 5   number_of_accounts            341314 non-null  float64
 6   total_balance                 341314 non-null  float64
 7   calls_in_the_last_6_months    341314 non-null  float64
 8   frequency_of_logons_6_months  341314 non-null  float64
 9   visitor_id                    321309 non-null  object
 10  visit_id                      321309 non-null  object
 11  process_step                  321309 non-null  object
 12  date_time                     321309 non-null  object
 13  Variation                     321309 non-null  object
 14  time_diff                     252104 non-null  float64
dtypes: float64(8), int64(1), object(6)
memory usage: 39.1+ MB

In [10]:
merged_df.sort_values(by='date_time', inplace=True)

# Reset the index of the sorted dataframe
merged_df.reset_index(drop=True, inplace=True)

In [11]:
merged_df.head()

,client_id,years_as_client,months_as_client,age,gender,number_of_accounts,total_balance,calls_in_the_last_6_months,frequency_of_logons_6_months,visitor_id,visit_id,process_step,date_time,Variation,time_diff
0,7179755,28.0,343.0,67.5,M,3.0,352322.35,2.0,5.0,167765295_97487764427,264484508_5982901710_928530,start,2017-03-15 00:19:28,Control,NaN
1,7179755,28.0,343.0,67.5,M,3.0,352322.35,2.0,5.0,167765295_97487764427,264484508_5982901710_928530,step_1,2017-03-15 00:20:50,Control,82.0
2,7179755,28.0,343.0,67.5,M,3.0,352322.35,2.0,5.0,167765295_97487764427,264484508_5982901710_928530,step_2,2017-03-15 00:22:52,Control,122.0
3,7179755,28.0,343.0,67.5,M,3.0,352322.35,2.0,5.0,167765295_97487764427,264484508_5982901710_928530,step_3,2017-03-15 00:23:47,Control,55.0
4,7179755,28.0,343.0,67.5,M,3.0,352322.35,2.0,5.0,167765295_97487764427,264484508_5982901710_928530,confirm,2017-03-15 00:26:24,Control,157.0

In [12]:
merged_df.to_csv('/Users/javi/Desktop/Ironhack/Entregas de github/Ironhack-Project-2/Raw data/EVERYTHING_MERGED.csv',index=False,encoding='latin-1')

In [13]:
url = ('/Users/javi/Desktop/Ironhack/Entregas de github/Ironhack-Project-2/Raw data/EVERYTHING_MERGED.csv')
df = pd.read_csv(url)

/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_33162/1560098399.py:2: DtypeWarning: Columns (9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [14]:
df.head()

,client_id,years_as_client,months_as_client,age,gender,number_of_accounts,total_balance,calls_in_the_last_6_months,frequency_of_logons_6_months,visitor_id,visit_id,process_step,date_time,Variation,time_diff
0,7179755,28.0,343.0,67.5,M,3.0,352322.35,2.0,5.0,167765295_97487764427,264484508_5982901710_928530,start,2017-03-15 00:19:28,Control,NaN
1,7179755,28.0,343.0,67.5,M,3.0,352322.35,2.0,5.0,167765295_97487764427,264484508_5982901710_928530,step_1,2017-03-15 00:20:50,Control,82.0
2,7179755,28.0,343.0,67.5,M,3.0,352322.35,2.0,5.0,167765295_97487764427,264484508_5982901710_928530,step_2,2017-03-15 00:22:52,Control,122.0
3,7179755,28.0,343.0,67.5,M,3.0,352322.35,2.0,5.0,167765295_97487764427,264484508_5982901710_928530,step_3,2017-03-15 00:23:47,Control,55.0
4,7179755,28.0,343.0,67.5,M,3.0,352322.35,2.0,5.0,167765295_97487764427,264484508_5982901710_928530,confirm,2017-03-15 00:26:24,Control,157.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341416 entries, 0 to 341415
Data columns (total 15 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   client_id                     341416 non-null  int64
 1   years_as_client               341314 non-null  float64
 2   months_as_client              341314 non-null  float64
 3   age                           341314 non-null  float64
 4   gender                        341314 non-null  object
 5   number_of_accounts            341314 non-null  float64
 6   total_balance                 341314 non-null  float64
 7   calls_in_the_last_6_months    341314 non-null  float64
 8   frequency_of_logons_6_months  341314 non-null  float64
 9   visitor_id                    321309 non-null  object
 10  visit_id                      321309 non-null  object
 11  process_step                  321309 non-null  object
 12  date_time                     321309 non-null  object
 13  Variation                     321309 non-null  object
 14  time_diff                     252104 non-null  float64
dtypes: float64(8), int64(1), object(6)
memory usage: 39.1+ MB

In [20]:
from scipy.stats import ttest_ind

# Filter data for Control and Test variations
control_age = df[df['Variation'] == 'Control']['age']
test_age = df[df['Variation'] == 'Test']['age']

# Perform t-test for age
t_statistic, p_value = ttest_ind(control_age, test_age, equal_var=False)

# Print the results
print("T-statistic for Age:", t_statistic)
print("P-value for Age:", p_value)

T-statistic for Age: nan
P-value for Age: nan

In [21]:
# Check for missing values in age column for Control variation
print("Missing values in age column for Control variation:", control_age.isnull().sum())

# Check for missing values in age column for Test variation
print("Missing values in age column for Test variation:", test_age.isnull().sum())

# Check for non-numeric values in age column for Control variation
print("Non-numeric values in age column for Control variation:", control_age[~control_age.apply(lambda x: isinstance(x, (int, float)))].unique())

# Check for non-numeric values in age column for Test variation
print("Non-numeric values in age column for Test variation:", test_age[~test_age.apply(lambda x: isinstance(x, (int, float)))].unique())

Missing values in age column for Control variation: 42
Missing values in age column for Test variation: 60
Non-numeric values in age column for Control variation: []
Non-numeric values in age column for Test variation: []

In [22]:
# Remove rows with missing values for age column
clean_control_age = control_age.dropna()
clean_test_age = test_age.dropna()

# Perform t-test for age with cleaned data
t_statistic, p_value = ttest_ind(clean_control_age, clean_test_age, equal_var=False)

# Print the results
print("T-statistic for Age (after removing missing values):", t_statistic)
print("P-value for Age (after removing missing values):", p_value)

T-statistic for Age (after removing missing values): -7.931534613856431
P-value for Age (after removing missing values): 2.171742993792986e-15

In [23]:
from scipy.stats import ttest_ind

# Filter data for Control and Test variations
control_age = df[df['Variation'] == 'Control']['age']
test_age = df[df['Variation'] == 'Test']['age']

# Perform t-test for age
t_statistic, p_value = ttest_ind(control_age, test_age, equal_var=False)

# Print the results
print("T-statistic for Age:", t_statistic)
print("P-value for Age:", p_value)

T-statistic for Age: nan
P-value for Age: nan